body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ft_logo {
  margin-left: 25px;
  width: 300px;
  height: 150px;

}

nav {
  float: right;
  margin-right: 180px;
  margin-top: 75px;
  
}

a.nav-button{
  margin: 30px;
  color: #BA0A0A;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 20px;
}

a.nav-button:hover {
  text-decoration: underline;
  font-style: italic;
  color: #363EB0;
}

#info-banner{
  width: auto;
  height: 70px;
  background-color: #4AA0D5;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-banner p{
  
  text-align: center;
  margin: 0px;
  vertical-align: baseline;
}


